<h1>All Videos</h1>
<%= paginate @videos %>

<% @videos.each do |video| %>
  <div class="video-wrapper">
    <table>
      <caption><%= video.vid %></caption>
      <thead>
        <tr>
          <th>Country</th>
          <th>Free</th>
          <th>Monetize</th>
          <th>Block</th>
        </tr>
      </thead>
      <tbody>
        <% video.policies.each do |policy| %>
          <tr>
            <td><%= policy.country.name %></td>
            <td><%= "X" if policy.rights == "Free" %></td>
            <td><%= "X" if policy.rights == "Monetize" %></td>
            <td><%= "X" if policy.rights == "Block" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>