<!DOCTYPE html>
<html>
<head>
  <title>IntlRights</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page-wrap">
  <h1><%= link_to 'IntlRights', root_path %></h1>

  <%= render 'layouts/nav' %>

  <%= yield %>

  <footer>
    2013 <%= link_to 'Github source', 'https://github.com/xta/IntlRights' %>
  </footer>
</div>
</body>
</html>
